# Extraction de données 

Extraction de données pour le cours IA & SHS (data challenge). Notebook qui utilise un tableau extrait en février 2021. 

Les données viennent de **The Texas Tribune**, et recouvrent en tout 111 agences.

In [84]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

import random
random.seed(123)

In [85]:
texas = pd.read_csv('./texas-2021-02-01.csv')

In [86]:
texas.shape

(146808, 21)

In [87]:
list(texas.columns)

['AGY',
 'NAME',
 'LASTNAME',
 'FIRSTNAME',
 'MI',
 'JOBCLASS',
 'JC TITLE',
 'RACE',
 'SEX',
 'EMPTYPE',
 'HIREDT',
 'RATE',
 'HRSWKD',
 'MONTHLY',
 'ANNUAL',
 'STATENUM',
 'duplicated',
 'multiple_full_time_jobs',
 'combined_multiple_jobs',
 'summed_annual_salary',
 'hide_from_search']

In [88]:
# 111 agencies
len(texas.AGY.unique())

111

In [89]:
# see that the AGY is redundant with the agency name
len(texas.NAME.unique())

111

In [90]:
# delete column names
del texas["LASTNAME"]
del texas["FIRSTNAME"]

# delete redundant column with Y
del texas["MONTHLY"]
del texas["summed_annual_salary"]

# useless column
del texas['duplicated']
del texas['hide_from_search']

# delete duplicated rows
texas = texas.drop_duplicates()
texas.shape

(146808, 15)

In [91]:
# finally AGY is not kept because it is redundant with NAME
numerical_columns = ['RATE', 'HRSWKD', 'STATENUM', 'multiple_full_time_jobs']
categorical_columns = ['NAME', 'MI', 'JOBCLASS', 'JC TITLE', 'RACE', 'SEX', 'EMPTYPE', 'HIREDT', 'combined_multiple_jobs']

data_columns = numerical_columns + categorical_columns

X = texas[data_columns]
y = texas.ANNUAL

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 123, test_size = 0.15)
train = pd.concat([X_train, y_train], axis=1)

In [93]:
train.to_csv("./train_data.csv")
X_test.to_csv("./X_test.csv")
y_test.to_csv("./y_test.csv")